.Webicon
{
    height:100px;
    width:100px;
    cursor: pointer;
    border-radius: 15px;
}

.Navbar
{
    width: 100%;
    padding: 10px 10px;
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    position:fixed;
    color: white;
    font-size: 20px;    
    z-index: 999;  /* it should be above all content*/
    border-radius: 6px;
    font-weight: 600;
}

.leftnavbar
{
    display: flex;
    align-items: center;
    gap: 50px;
}

.leftnavbar ul{
    display: flex;
    list-style: none;
    gap:20px;
}

.leftnavbar ul li
{
    cursor: pointer;
}

.rightnavbar {
  display: flex;
  justify-content: flex-end;
  background-color: #1e1e1e; /* dark navbar background */
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 2px 5px #000;
}

.rightnavbar .navbar {
  width: 100%;
}

.rightnavbar .form-inline {
  display: flex;
  align-items: center;
}

.rightnavbar .signout {
  list-style: none;
}

.rightnavbar .signout li {
  display: inline-block;
}

.rightnavbar .signout a.nav-link {
  color: #f0f0f0;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 6px;
  transition: 0.3s;
}

.rightnavbar .signout a.nav-link:hover {
  background-color: #cb3c10;
  color: #fff;
  text-decoration: none;
}
