.footer
{
    padding:10px;
    color: aliceblue;
    background-color: rgb(29, 28, 28);
    bottom: 0%;
    border-radius:20px;
}
.insta
{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
}
.youtube
{
    width: 45px;
    height:45px;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.text-list
{
    padding: 5px;
}
.text-list p
{
    cursor: pointer;
}